[Unit]
Description=Perform system backup
Wants=backups.mount

[Service]
Type=simple
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/local/bin/backup
